# Numbers

## Introduction

## How to Read Integers

To get Julia to convert the string read ("13", say,) to the number (integer) 13. This can
be done with the standard Julia function, parse, as follows:

In [9]:
a = parse(Float32, readline())
b = parse(Float32, readline())
c = a * b

stdin>  2
stdin>  2

4.0f0

As before, readline() will fetch whatever is typed; parse will then try to convert the input to a
whole number; that's the purpose of Int.

In [10]:
Int

Int64

In [24]:
function average()
    sum = 0
    for n in 'a':'c'
        println("Please enter the number $n:")
        sum += parse(Float64, readline())
    end
    println("The average is $(round((sum/3), digits=2))")
end

average (generic function with 1 method)

In [25]:
average()

stdin>  3
stdin>  3.553
stdin>  .4902

Please enter the number a:
Please enter the number b:
Please enter the number c:
The average is 2.35

After the average is calculated, it is rounded to 2 decimal places, using the option
digits=2. To round to a whole number, use digits=0.
round() is an example of a built-in (standard) function. Julia provides many functions
which enable us to be more productive

In [27]:
isinteger(30.0)

true

In [28]:
function square()
    println("Please Enter the side length of the square:")
    side = parse(Float32, readline())
    if isinteger(side)
        println("The side is $(Int(side)) and the area is $(Int(side*side)) ")
    else
        println("The side is $((side)) and the area is $((side*side)) ")
    end
end

square (generic function with 1 method)

In [30]:
square()

stdin>  2.3

Please Enter the side length of the square:
The side is 2.3 and the area is 5.29

In [35]:
using Printf

In [58]:
@printf("WTF \$%0.2f \n",555.256564)

WTF $555.26

To read multiple values from the same line one hack around could be this:

In [65]:
a, b = [parse(Int, x) for x in split(readline())];

stdin>  1 2 3 4 5

In [66]:
a

1

In [67]:
b

2

## Integers

In [2]:
If we wish, we can declare our integers to be exactly the size we want. If we wanted to work
with 16-bit integers, we could write a statement like this within our function:

In [3]:
function ex()
    num :: Int16 = 12
end

ex (generic function with 1 method)

If you wish, you can have spaces on either side (or both sides) of ::. This is valid:

as of this writing, you can use the word local to declare a variable without
assigning a value, like this:

In [4]:
local a::String

We can declare several in one statement, like this:

In [9]:
function ex2()
    local aa::Int32, bb::Float32, cc::Int16
    println(typeof(aa))
end

ex2 (generic function with 1 method)

We can assign a value in the declaration but only if we are declaring one item. We can do this:

In [12]:
function ex3()
    local aa::Int32 = 32
    println(aa)
    
end

ex3 (generic function with 1 method)

In [13]:
ex3()

32

But not like this:

In [16]:
local aa::Int16=99, bb::Int8=79

LoadError: syntax: invalid assignment location "99" around In[16]:1

Julia lets us work with unsigned integers. To illustrate, with 8 bits we can store bit patterns from
00000000 to 11111111. To represent positive and negative numbers, Julia uses 00000000 to
01111111 for integers from 0 to 127; and 10000000 to 11111111 for negative integers from -128
to -1.

The range of numbers which can be stored in 8 bits is -128 to 127, or -27 to +27-1.

To declare unsigned integers, we put U in front of the integer types Int8, Int16, Int32, Int64
and Int128 to get UInt8, UInt16, UInt32, UInt64 and UInt128. The range of numbers that can be
stored for each of these types is shown here:

In [18]:
local n::Int8 = 200

LoadError: InexactError: trunc(Int8, 200)

In [19]:
local n::UInt8 = 200

200

Oo

Tip: Julia lets you use the underscore (_) in writing numbers. You can use it anywhere you
choose. The following are valid: 32_767, 12_34, 43_6.31_592 (436.31592). The value of a
number is the same with or without _.

To write other symbols

In julia repl, type \div then Tab to complete this.

 https://docs.julialang.org/en/v1/manual/unicode-input/

In [21]:
Θ = pi /3

1.0471975511965976

To type ÷ on MacOS, type Option-/. On a Windows keyboard with a numeric keypad, make
sure Num Lock is on, and type Alt-246 or Alt-0247 (press and hold Alt, type 246 or 0247) Note that
you must use the keypad, not the number keys above the letters. At the julia> prompt, type \div
and press the Tab key.

In [23]:
-10 % -3

-1

It is helpful to remember that the value of x % y is of the same sign as x, and smaller in
magnitude than y.

The remainder operator % and the integer divide operator ÷ have the same precedence as
multiplication (*) and division (/).

Of particular interest is the exponentiation operator ^ which raises a number to a given power.
It's interesting because it's one of the few operators which associates from right to left. Consider
this:

In [24]:
3^2^3

6561

This is evaluated as 3^(2^3) = 3^8, giving 6561. But (3^2)^3 = 9^3 = 729.

In [43]:
using Printf

In [71]:
@printf("%03d",-5)

-05

%d is called a format specification. When the string is printed, %d will be replaced by the value
of n, the variable after the comma. Since the value of n has 3 digits, it will be printed using 3
print columns. If its value was 65535, it would be printed using 5 print columns.

The minus sign can be used to specify left-justification; %-wd (w is a positive integer) will print
a value left-justified in a field width of w. For example, to print an integer left-justified in field
width of 5, we use %-5d.

In [73]:
@printf("%-10d what the heck",99995)

99995      what the heck

In [74]:
@printf("%10d what the heck",99995)

     99995 what the heck

A field width is useful when we want to line up numbers one below the other. Suppose we have
three Int variables a, b and c with values 9876, -3 and 501, respectively. The statements

In [75]:
@printf("%d\n", 1235)
@printf("%d\n", -5)
@printf("%d\n", 325)

1235
-5
325

In [76]:
@printf("%5d\n", 1235)
@printf("%5d\n", -5)
@printf("%5d\n", 325)

 1235
   -5
  325

In [77]:
@printf("%5d\n%5d\n%5d\n", 1235, -5, 325)

 1235
   -5
  325

## Floating-point Numbers

Using scientific notation, with an optional sign, including a decimal point and including
an exponent part. For example, we can write 42.715 as 0.42715E2 which means
“0.42715 multiplied by 10 to the power 2”.
Similarly, 0.537 can be written as 5.37e-1, that is, 5.37×10-1. The exponent can be
specified using either e or E

In [1]:
1e-2

0.01

In [2]:
1E-2

0.01

We declare a floating-point variable using either Float32 or Float64. A Float32 value is stored
as a 32-bit floating-point number, giving 6-7 significant digits. This is usually referred to as
single-precision.

A Float64 value is stored as a 64-bit floating-point number, giving 13-14 significant digits. We
call this double-precision.

If a number is written in scientific notation using e or E,
it's also Float64.

On the other hand, if a number is written in scientific notation using f (but not F), it is considered
Float32. So, for instance, 3.45f1 is the Float32 equivalent of 34.5. Suppose we write this:

### Print Float64 and Float32 Variables

We have been using the format specification %d in @printf statements to print the value of an
integer variable. If we wish to print the value of a floating-point variable, we use %f. For
example, consider the following:

In [6]:
d = Float64(1.7)

1.7

In [7]:
using Printf

In [8]:
@printf("WTF %f", d)

WTF 1.700000

In [21]:
@printf("WTF *%08.3f", 256)

WTF *0256.000

In [23]:
@printf("WTF *%.3f", 256)

WTF *256.000

### Assignment Between Float64 and Float32

Since Float32 is smaller than Float64, you can store a Float32 value in a Float64 variable
without any problems.

However, if you assign a Float64 to a Float32, some precision may be lost. Consider the
following:

In [24]:
d6 = Float64(987654321.12345)
d3 = Float32(d6)
@printf("Float64: %f, Float32: %f \n", d6, d3)

Float64: 987654321.123450, Float32: 987654336.000000

In the following, observe that the type of b changes according to the type of the operands. If
both operands are Int, the result is Int; if at least one is Float, the result is Float.

In [25]:
b = 19 ÷ 5
typeof(b)

Int64

In [26]:
b = 19 ÷ 5.0
typeof(b)

Float64

What happens if we have an expression with Float32 and/or Float64 values? If op1 and op2 are
the two operands of an operator, the following shows the type of calculation performed and,
hence, the type of the answer:

Float32 is performed only if both operands are Float32; otherwise, Float64 is performed

### Mixed Expressions

If either operand of an arithmetic operator is floating-point, the calculation is done in
floating-point arithmetic. The calculation is done in Float64 unless both operands are
Float32, in which case the calculation is done in Float32.

The entire construct consisting of the variable, = and the expression is referred to as an
assignment statement. The value of an assignment statement is simply the value assigned to the
variable; if a is 15 and b is 20, then the following statement assigns the value 35 to c:
c = a + b

In [27]:
a = 14
b = 11
c = a + b

25

The operator = evaluates from right to left, so the above is equivalent to this:

In [28]:
a = (b = (c = 13))

13

In [29]:
a

13

In [30]:
b

13

In [31]:
c

13

## Updating Operators

It may be useful to remember that an updating operator could change the type of the variable on
the left-hand side. We illustrate with the following:

Suppose b is Float64 and n is Int64. Consider this:

n = b # attempt to assign Float64 to Int64

The assignment is valid only if the value of b is an integer (like 7 or even 7.0). Any other value
of b (e.g. 7.4) would give an InexactError. In this case, the error would be

This means we want to convert 7.4 to Int64, which is not a valid operation. So, in general, we
cannot assign a float value to an Int variable.

### trunc

In [32]:
b = 1.2

1.2

In [33]:
trunc(b)

1.0

In [34]:
trunc(Int, b)

1

### ceil

ceil(x) returns the nearest integral value of the same type as x that is greater than or equal to x.

In [37]:
ceil(5.0)

5.0

In [38]:
ceil(5.3)

6.0

In [39]:
ceil(Int, 5.3)

6

### floor

floor(x) returns the nearest integral value of the same type as x that is less than or equal to x.

In [40]:
floor(7.0)

7.0

In [41]:
floor(7.3)

7.0

In [42]:
floor(Int, 40.3)

40

### round

In [43]:
round(Int64, 3.5)

4

In [44]:
round(Int64, 4.5)

4

Huh? Not what we learnt in school! The technical reason is this: Julia uses the IEEE754 standard
for rounding. This rounds to the nearest integer, with fractional values of 0.5 being rounded to
the nearest even integer. We get the answer 4 because 4 is the nearest even integer to 4.5.
Round(3.5) works as expected because 4 is the nearest even integer to 3.5.

In any case, this seeming anomaly is merely the default behaviour of round. Julia provides many
options for rounding.
One such option is RoundNearestTiesAway. It is used as follows:

In [46]:
round(Int64, 4.5, RoundNearestTiesAway)

5

The option RoundNearestTiesAway rounds to the nearest integer, with fractional values of 0.5
rounded away from zero

In [47]:
round(Int64, -4.5, RoundNearestTiesAway)

-5

RoundNearestTiesUp - rounds to nearest integer, with fractional values of 0.5 rounded towards
positive infinity. For example:

In [48]:
round(Int64, 4.5, RoundNearestTiesUp)

5

In [49]:
round(Int64, -4.5, RoundNearestTiesUp)

-4

- RoundToZero - this is an alias for trunc
- RoundUp - alias for ceil
- RoundDown - alias for floor

In the examples above, we rounded to a whole number. But round can round to any number of
decimal places we desire. Suppose we want to round to two decimal places. The following
illustrates how:

In [52]:
pi

π = 3.1415926535897...

In [51]:
round(pi, digits=2)

3.14

But note this: if the third decimal place is 5, and is followed by 0s or nothing, the second decimal
place determines the answer; if it is even, it remains the same and if it is odd, 1 is added to it. In
other words, the digit in the second decimal place is rounded to the nearest even digit.

In [56]:
π

π = 3.1415926535897...

In general, if we want to round to d decimal places, we look at the digit in the (d+1)st position.
If it is less than or greater than 5, the usual rules of rounding apply.
If it is 5, and is followed by 0s or nothing, the digit in the dth position is rounded to the nearest
even digit. If the 5 is followed by any non-zero value, the digit to the left is incremented.

For completeness, we point out that what follows digits= can be a negative integer. But, for
instance, what does round(456.78, digits=-1) mean?

- d=0 means round to the nearest whole number
- d=1 means round to the nearest tenth
- d=2 means round to the nearest hundredth, and so on

- d=-1 means round to the nearest ten
- d=-2 means round to the nearest hundred
- d=-3 means round to the nearest thousand, and so on

In [57]:
round(1332, digits=-2)

1300.0